
@{
    ViewBag.Title = "Example1";
}
<script src="~/Scripts/knockout-3.5.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
       
    }); 
    function changename()
    {
        ko.applyBindings(new AppViewModel());
    }

    function AppViewModel()
    {
        this.firstname = "Majid"
        this.lastname = "Hemmati"
    }

</script>

<p> run Knockoutjs to replace firestname and lastname </p>

<p > firstname : <strong data-bind="text: firstname"> todo </strong>  </p>
<p> lastname : <strong data-bind="text : lastname"> todo </strong>  </p>

<input type="button" value="click run" onclick="changename()" />